<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://github.com/fanckush/SoloDisplay/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>5ptNRc7sv1tOsDQP/1YRC5PgRAUyz+WGwLNB/eftz74=</string>
</dict>
</plist>
